body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  background-image: url('images/back 5.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-image: url('images/back 4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
  color: #333;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  background-color: #f9f9f9;
  margin-bottom: 5px;
  border-radius: 5px;
}

li:hover {
  background-color: #e0e0e0;
}